*
{
	margin:0;
	padding:0;
	border:0;
}
#header
{
	background-color:#9bb0b6;
	height:45px;
	padding-right:20px;
}
#search
{
	width:170px;
	float:left;
}
#logo
{
	width:300px;
	float:left;
}
#loginregister
{
	width:435px;
	float:left;
}
#basket
{
	background-color:white;
	float:right;
}
.shopitem
{
	width:150px;
	height:200px;
	background-color:white;
	border:1px #9bb0b6 solid;
	float:left;
	margin:3px 3px 3px 3px;
}
#itemimage
{
	width:145px;
	height:145px;
	border:1px solid #9bb0b6;
	margin:auto;
	margin-top:1.5px;
}
#sidebar_left
{
	margin-top:30px;
	margin-left:10px;
	background-color:white;
	width:150px;
	float:left;
	height:100%;
	border:1px #9bb0b6 solid;
	border-radius:10px;
	text-align:center;
}
#sidebar_right
{
	margin-top:30px;
	margin-right:10px;
	background-color:white;
	width:150px;
	float:right;
	height:100%;
	border:1px #9bb0b6 solid;
	border-radius:10px;
	text-align:center;
}
#content
{
	margin:auto;
	margin-top:30px;
	width:1100px;
	background-color:green;
}