*
{
	margin:0;
	padding:0;
	border:0;
}
#header
{
	background-color:9bb0b6;
	height:45px;
	padding-right:20px;
}
#basket
{
	background-color:white;
	width:30px;
	height:30px;
	float:right;
}
.shopitem
{
	width:100px;
	height:100px;
	background-color:white;
	border:1px #9bb0b6 solid;
	float:left;
	margin:3px 3px 3px 3px;
}
#sidebar_left
{
	margin-top:30px;
	margin-left:10px;
	background-color:white;
	width:150px;
	float:left;
	height:100%;
	border:1px #9bb0b6 solid;
	border-radius:10px;
	text-align:center;
}
#sidebar_right
{
	margin-top:30px;
	margin-right:10px;
	background-color:white;
	width:150px;
	float:right;
	height:100%;
	border:1px #9bb0b6 solid;
	border-radius:10px;
	text-align:center;
}
#content
{
	margin:auto;
	margin-top:30px;
	width:1100px;
	background-color:green;
}